on:
  issues:
    types: [opened, edited]
  pull_request:
    types: [opened, edited]

  push:
    paths:
      - .github/workflows/issue-pr-create.yml
  
jobs:
  notify:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
        - uses: devops-actions/issue-comment-tag@6dbf2b1d509b1255e744349f7b0d5c1f723b22ef # v0.1.9
          with:
            team: ${{ vars.tag_team }}
            issue: ${{ github.event.issue.number }}
            pr: ${{ github.event.pull_request.number }}
            owner: ${{ github.repository_owner }}
            repo: ${{ github.repository }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
